@import "../../assets/scss/vars";

nav {
  flex-direction: row !important;
  width: 100%;
  height: 70px;
  justify-content: flex-start !important;

  img {
    width: auto;
    height: 100%;
    padding: 20px 0;
  }

  ul {
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: row !important;
    padding: 0 !important;
    background: $border;
  }

  a:hover,
  .active {
    background: unset !important;
  }

  .info {
    width: 70px;
    height: 70px;
    line-height: 50px;
    margin-left: auto;
  }
}
