<img ng-show="activeBar" src="./assets/img/logo.svg" alt="playout">
<img ng-hide="activeBar" src="./assets/img/imago.svg" alt="playout">

<ul class="btn-group col">
  <li title="Flyers">
    <a ui-sref="flyer"><i class="fas fa-file-alt"></i> <span ng-show="activeBar">Flyers</span></a>
  </li>
  <li title="Tarjetas">
    <a ui-sref="cards"><i class="fas fa-address-card"></i> <span ng-show="activeBar">Tarjetas</span></a>
  </li>
</ul>

<a href="http://playout.online" class="info"><i class="fas fa-info-circle"></i> <span ng-show="activeBar">Más info</span></a>