@import "../../assets/scss/vars";

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background: $border;
  box-shadow: 2px 0 5px 0 rgba(#000, 0.4);
  transition: 0.3s;
  z-index: 99;

  img {
    cursor: pointer;
    width: 90%;
    padding: 20px;
    margin-bottom: -80px;
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 20px 0;

    li {
      width: 100%;
      display: flex;
      border-top: 1px solid darken($border, 5%);

      &:last-of-type {
        border-bottom: 1px solid darken($border, 5%);
      }

      a {
        width: 100%;
        padding: 20px;
        color: $divider;
        transition: 0.2s;
        text-align: center;

        &:hover {
          background: lighten($border, 5%);
        }
      }

      i {
        font-size: 16px;
      }

      .active {
        background: lighten($border, 5%);
      }
    }
  }

  .info {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    transition: 0.2s;
  }
}

.active-bar {
  width: 250px;

  li a {
    text-align: left !important;
    i {
      margin-right: 10px;
    }
  }
}
