<div class="flyer-box viewport">
  <div class="row form-pdf">
    <div class="scroll">
      <h1>Animal Holistic Journey</h1>
      <h3>FLYERS EVENTO</h3>

      <form class="col form-box">
        <label>Logo</label>
        <select ng-model="data.logo">
          <option value="black">Fondo claro</option>
          <option value="white">Fondo oscuro</option>
        </select>

        <div class="row couple">
          <div class="col">
            <label>Color de fondo</label>
            <div class="check-group row">
              <input
                type="radio"
                name="bg"
                id="b1"
                ng-model="data.bgColor"
                value="#111"
              />
              <label for="b1" class="color dark"></label>
              <input
                type="radio"
                name="bg"
                id="b2"
                ng-model="data.bgColor"
                value="#f2f2f2"
              />
              <label for="b2" class="color f2f2f2"></label>
              <input
                type="radio"
                name="bg"
                id="b3"
                ng-model="data.bgColor"
                value="#999"
              />
              <label for="b3" class="color c999"></label>
              <input
                type="radio"
                name="bg"
                id="b4"
                ng-model="data.bgColor"
                value="#b4dc64"
              />
              <label for="b4" class="color b4dc64"></label>
              <input
                type="radio"
                name="bg"
                id="b5"
                ng-model="data.bgColor"
                value="#d3bba7"
              />
              <label for="b5" class="color d3bba7"></label>
              <input
                type="radio"
                name="bg"
                id="b6"
                ng-model="data.bgColor"
                value="#d7f7ff"
              />
              <label for="checkSecBg" class="color d7f7ff"></label>
              <input
                type="radio"
                name="bg"
                id="b7"
                ng-model="data.bgColor"
                value="#ffefdc"
              />
              <label for="b7" class="color ffefdc"></label>
              <input
                type="radio"
                name="bg"
                id="b8"
                ng-model="data.bgColor"
                value="#f9f0ff"
              />
              <label for="b8" class="color f9f0ff"></label>
              <input
                type="radio"
                name="bg"
                id="b9"
                ng-model="data.bgColor"
                value="#534741"
              />
              <label for="b9" class="color c534741"></label>
              <input
                type="radio"
                name="bg"
                id="b10"
                ng-model="data.bgColor"
                value="#a67c52"
              />
              <label for="b10" class="color a67c52"></label>
            </div>
          </div>

          <div class="col">
            <label>Color primario</label>
            <div class="check-group row">
              <input
                type="radio"
                name="pri"
                id="p1"
                ng-model="data.priColor"
                value="#111"
              />
              <label for="p1" class="color dark"></label>
              <input
                type="radio"
                name="pri"
                id="p2"
                ng-model="data.priColor"
                value="#f2f2f2"
              />
              <label for="p2" class="color f2f2f2"></label>
              <input
                type="radio"
                name="pri"
                id="p3"
                ng-model="data.priColor"
                value="#999"
              />
              <label for="p3" class="color c999"></label>
              <input
                type="radio"
                name="pri"
                id="p4"
                ng-model="data.priColor"
                value="#b4dc64"
              />
              <label for="p4" class="color b4dc64"></label>
              <input
                type="radio"
                name="pri"
                id="p5"
                ng-model="data.priColor"
                value="#d3bb47"
              />
              <label for="p5" class="color d3bb47"></label>
              <input
                type="radio"
                name="pri"
                id="p6"
                ng-model="data.priColor"
                value="#ffefdc"
              />
              <label for="p6" class="color ffefdc"></label>
              <input
                type="radio"
                name="pri"
                id="p7"
                ng-model="data.priColor"
                value="#9fd6d3"
              />
              <label for="p7" class="color c9fd6d3"></label>
              <input
                type="radio"
                name="pri"
                id="p8"
                ng-model="data.priColor"
                value="#ffbdff"
              />
              <label for="p8" class="color ffbdff"></label>
              <input
                type="radio"
                name="pri"
                id="p9"
                ng-model="data.priColor"
                value="#8200ff"
              />
              <label for="p9" class="color c8200ff"></label>
              <input
                type="radio"
                name="pri"
                id="p10"
                ng-model="data.priColor"
                value="#534741"
              />
              <label for="p10" class="color c534741"></label>
              <input
                type="radio"
                name="pri"
                id="p11"
                ng-model="data.priColor"
                value="#a67c52"
              />
              <label for="p11" class="color a67c52"></label>
              <input
                type="radio"
                name="pri"
                id="p12"
                ng-model="data.priColor"
                value="#f9be70"
              />
              <label for="p12" class="color f9be70"></label>
              <input
                type="radio"
                name="pri"
                id="p13"
                ng-model="data.priColor"
                value="#00ffff"
              />
              <label for="p13" class="color c00ffff"></label>
              <input
                type="radio"
                name="pri"
                id="p14"
                ng-model="data.priColor"
                value="#ed1c24"
              />
              <label for="p14" class="color ed1c24"></label>
            </div>
          </div>
        </div>

        <div class="row couple">
          <div class="col">
            <label>Color texto</label>
            <select ng-model="data.textColor">
              <option value="#000">Negro</option>
              <option value="#fff">Blanco</option>
            </select>
          </div>

          <div class="col">
            <label>Color texto secundario</label>
            <select ng-model="data.textColorSec">
              <option value="#000">Negro</option>
              <option value="#fff">Blanco</option>
            </select>
          </div>
        </div>

        <label>Tipografía</label>
        <select ng-model="data.font">
          <option value="Circular">Circular</option>
          <option value="Times">Times</option>
          <option value="Neue">Neue</option>
          <option value="Dancing">Dancing</option>
        </select>

        <label>Título</label>
        <textarea
          ng-keyup="autoGrow($event)"
          ng-model="data.title"
          placeholder="Título"
        ></textarea>

        <label>Imagen frontal</label>
        <input type="file" id="imgOne" />
        <ui-cropper
          class="cropper"
          image="imgOne"
          init-max-area="true"
          result-image="cropOne"
          area-type="rectangle"
          on-change="resizeOne()"
          result-image-quality="1.0"
          result-image-size="'max'"
        ></ui-cropper>

        <label>Actividades</label>
        <input
          class="next-input"
          type="text"
          ng-model="data.list.titleLeft"
          placeholder="Subtítulo izquierda"
        />
        <textarea
          ng-keyup="autoGrow($event)"
          type="text"
          ng-model="data.list.listLeft"
          placeholder="Lista izquierda"
        ></textarea>
        <input
          class="next-input"
          type="text"
          ng-model="data.list.titleRight"
          placeholder="Subtítulo derecha"
        />
        <textarea
          ng-keyup="autoGrow($event)"
          type="text"
          ng-model="data.list.listRight"
          placeholder="Lista derecha"
        ></textarea>

        <label>Info del evento</label>
        <input
          type="text"
          ng-model="data.event"
          placeholder="Info del evento"
        />

        <label>Contacto</label>
        <textarea
          ng-keyup="autoGrow($event)"
          ng-model="data.contact"
          placeholder="Contacto"
        ></textarea>

        <input
          type="checkbox"
          ng-model="data.fb"
          id="fb"
          style="display: none"
        />
        <label for="fb" class="label">Facebook</label>

        <label>Imagen trasera</label>
        <input type="file" id="imgTwo" />
        <ui-cropper
          class="cropper"
          image="imgTwo"
          init-max-area="true"
          result-image="cropTwo"
          area-type="rectangle"
          on-change="resizeTwo()"
          result-image-quality="1.0"
          result-image-size="'max'"
        ></ui-cropper>

        <label>Título descripción</label>
        <input
          type="text"
          ng-model="data.descTitle"
          placeholder="Título descripción"
        />

        <label>Descripción</label>
        <textarea
          ng-keyup="autoGrow($event)"
          ng-model="data.desc"
          placeholder="Descripción"
        ></textarea>

        <div class="row">
          <a ng-show="isMobile" href="#" id="link" class="ter s"
            >Ver / Guardar</a
          >
        </div>
      </form>
    </div>
    <iframe ng-hide="isMobile"> </iframe>
  </div>
</div>
