<div
  class="list-box scroll"
  ng-class="{white: wineType === 'white', red: wineType === 'red', rose: wineType === 'rose', spark: wineType === 'spark'}"
>
  <nav class="row j-between">
    <span
      ng-class="{dark: wineType === 'white' || wineType === 'spark'}"
      ng-click="goBack()"
      >←</span
    >
    <h2 ng-class="{dark: wineType === 'white' || wineType === 'spark'}">
      {{ title }}
    </h2>
  </nav>

  <div class="content col a-center">
    <div
      ng-repeat="wine in wines"
      class="row list a-center"
      ng-click="goWine(wine)"
    >
      <img ng-src="{{ wine.img }}" alt="{{ wine.name }}" />
      <div class="col">
        <h4>{{ wine.name }}</h4>
        <p>D.O. {{ wine.do }}</p>
        <span>{{ wine.price | currency }}</span>
      </div>
    </div>
  </div>
</div>
