@import "../../assets/scss/vars";

.list-box {
  padding: 40px;

  nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    padding-bottom: 0;
    color: #fff;

    span {
      font-size: 30px;
    }

    .dark {
      color: $content !important;
    }
  }

  .content {
    width: 100%;
    margin-top: 60px;
  }

  .list {
    position: relative;
    height: 20vh;
    max-height: 100px;
    background: $content;
    margin-bottom: 40px;
    box-shadow: 0 10px 50px 0 rgba(#000, 0.2);
    
    &:nth-of-type(even) {
      flex-direction: row-reverse;
      
      .col {
        padding: 0;
        padding-left: 20px;
        margin-left: 0;
        margin-right: 30%;
      }
    }
    
    img {
      position: absolute;
      width: 30%;
      height: 130%;
      object-fit: contain;
    }
    
    .col {
      width: 70%;
      margin-left: 30%;
      padding-right: 20px;
    }

    h4,
    p {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    p {
      font-size: 12px;
      font-weight: lighter;
      opacity: .7;
      margin-bottom: 10px;
    }

    span {
      color: $alt;
      margin-left: auto;
    }
  }
}

.white { background: $sec-linear !important; }
.red { background: $ter-linear !important; }
.rose { background: $fou-linear !important; }
.spark { background: $fiv-linear !important; }
