//colors
$bg: #535659;
$border: #333639;
$divider: #f2f2f2;
$disabled: #bbbec4;

//notificators
$link: #2d8cf0;
$success: #19be6b;
$warning: #ff9900;
$error: #ed3f14;

//text
$title: #999999;
$sub: #80848f;
$content: #32323c;

//custom
$pri: #32323c;
$pri-light: #505064;
$pri-dark: darken($pri, 20%);

$sec: #ffd099;
$sec-light: #ffe6be;
$sec-dark: darken($sec, 20%);

$ter: #74325d;
$ter-light: #8f5e81;
$ter-dark: darken($ter, 20%);

$fou: #d8326e;
$fou-light: #e74398;
$fou-dark: darken($fou, 20%);

$fiv: #ffffbd;
$fiv-light: #ffffe2;
$fiv-dark: darken($fiv, 20%);

$alt: #f17f5c;

//gradient
$pri-linear: linear-gradient(-60deg, $pri, $pri-light);
$sec-linear: linear-gradient(-60deg, $sec, $sec-light);
$ter-linear: linear-gradient(-60deg, $ter, $ter-light);
$fou-linear: linear-gradient(-60deg, $fou, $fou-light);
$fiv-linear: linear-gradient(-60deg, $fiv, $fiv-light);


//responsive font
@mixin type($minfont, $maxfont) {
  font-size: calc(#{$minfont}px + (#{$maxfont} - #{$minfont}) * (100vw - 400px) / (1200 - 400));

  & {
    @media (max-width: 400px) {
      font-size: #{$minfont}px;
    }
    @media (min-width: 1200px) {
      font-size: #{$maxfont}px;
    }
  }
}
