//base
a[class*="btn"],
button {
  cursor: pointer;
  padding: 15px 30px !important;
  background-color: transparent;
  transition: 0.2s;
}

a[class*="s"],
button[class*="s"] {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px !important;
  background-color: transparent;
  transition: 0.2s;
}

a[class*="xs"],
button[class*="xs"] {
  cursor: pointer;
  font-size: 14px;
  padding: 7px 14px !important;
  background-color: transparent;
  transition: 0.2s;
}

a[class*="pri"],
button[class*="pri"] {
  background-color: $pri;
  border: 2px solid $pri !important;
  &:hover {
    border-color: $pri-dark !important;
  }
}

a[class*="sec"],
button[class*="sec"] {
  background-color: $sec;
  border: 2px solid $sec !important;
  &:hover {
    background-color: $sec-dark;
    border-color: $sec-dark;
  }
}

a[class*="ter"],
button[class*="ter"] {
  background-color: $ter;
  border: 2px solid $ter !important;
  &:hover {
    background-color: $ter-dark;
    border-color: $ter-dark;
  }
}

a[class*="border"],
button[class*="border"] {
  background-color: $border;
  border: 2px solid $border !important;
  &:hover {
    background-color: lighten($border, 20%);
    border-color: lighten($border, 20%);
  }
}

//colors
a[class*="disabled"],
button[class*="disabled"] {
  background-color: $disabled;
  border: 2px solid $disabled !important;
  color: $sub;
  cursor: not-allowed !important;
}

a[class*="link"],
button[class*="link"] {
  background-color: $link;
  border: 2px solid $link;
  &:hover {
    background-color: darken($link, 20%);
    border-color: darken($link, 20%);
  }
}

a[class*="success"],
button[class*="success"] {
  background-color: $success;
  border: 2px solid $success;
  &:hover {
    background-color: darken($success, 20%);
    border-color: darken($success, 20%);
  }
}

a[class*="warning"],
button[class*="warning"] {
  background-color: $warning;
  border: 2px solid $warning;
  &:hover {
    background-color: darken($warning, 20%);
    border-color: darken($warning, 20%);
  }
}

a[class*="error"],
button[class*="error"] {
  background-color: $error;
  border: 2px solid $error;
  &:hover {
    background-color: darken($error, 20%);
    border-color: darken($error, 20%);
  }
}

//types
a[class*="round"],
button[class*="round"] {
  border-radius: 50px;
}

a[class*="semi"],
button[class*="semi"] {
  border-radius: 3px;
}

a[class*="outline"],
button[class*="outline"] {
  background-color: transparent !important;
  color: #000 !important;
  border: 2px solid #000;
}

a[class*="pri outline"] {
  color: $pri !important;
}
a[class*="sec outline"] {
  color: $sec !important;
}
a[class*="ter outline"] {
  color: $ter !important;
}
a[class*="border outline"] {
  color: $border !important;
}