//base
input {
  padding: 10px 20px !important;
  transition: .2s;
  background-color: transparent;
  border-radius: 3px;
}

//types
input[class*=round] {
  border-radius: 50px;
}

input[class*=disabled] {
  cursor: not-allowed;
  background: $border !important;
}

input[class*=outline] {
  background-color: transparent !important;
  border: 2px solid #000 !important;
  &:hover {
    opacity: .7;
  }
}

input[class*=dashed] {
  background-color: transparent !important;
  border-style: dashed !important;
  &:hover {
    opacity: .7;
  }
}

input[class*=dotted] {
  background-color: transparent !important;
  border-style: dotted !important;
  &:hover {
    opacity: .7;
  }
}