<div class="lang-box viewport">
  <div class="col a-center content">
    <img class="logo" src="./assets/img/perbacco.svg" alt="Perbacco">

    <div class="row f-center lang">
      <img ng-click="goType('cat')" src="./assets/img/cat.svg" alt="Català">
      <img ng-click="goType('cas')" src="./assets/img/cas.svg" alt="Castellano">
      <img ng-click="goType('eng')" src="./assets/img/eng.svg" alt="English">
      <img ng-click="goType('fra')" src="./assets/img/fra.svg" alt="Française">
    </div>

    <img src="./assets/img/powered-logo.svg" alt="Playout" class="powered">
  </div>
</div>
