@import "../../assets/scss/vars";

.lang-box {
  .content {
    width: 100%;
    height: 100%;
  }

  .logo {
    height: 60%;
    box-shadow: 0 10px 50px 0 rgba(#000, .2);
  }
  
  .lang {
    height: 33%;
    
    img {
      width: 15%;
      margin: 0 10px;
      filter: drop-shadow(0 5px 5px rgba(0,0,0,.2));
    }
  }

  .powered {
    height: 7%;
    margin-top: auto;
    margin-bottom: 45px;
  }
}
