@import "../../assets/scss/vars";

.info-box {
  padding: 40px;

  .shape {
    position: fixed;
    top: 0;
    left: 0;
    width: 48vw;
    height: 52vh;
    background: #fff;
    opacity: .2;
    z-index: 0;
  }

  nav {
    position: fixed;
    top: 40px;
    left: 40px;
    color: #fff;
    z-index: 1;

    span {
      font-size: 30px;
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);

    .title {
      width: 100%;

      h2 {
        width: 70%;
        text-align: right;
        font-weight: 900;
      }

      .price {
        color: $alt;
        font-size: 20px;
        font-weight: bold;
      }
    }

    img {
      width: 100%;
      height: 85%;
      object-fit: contain;
      padding: 10px;
    }

    .do {
      position: absolute;
      top: 50vh;
      left: 0;
      height: 83%;
      writing-mode: vertical-rl;
      text-orientation: sideways;
      text-align: center;
      transform: translateY(-57%) rotate(180deg);
      font-size: 30px;
      font-weight: lighter;
      opacity: .7;
    }
  
    .more {
      position: absolute;
      bottom: 40px;
      right: -15%;
      transform: rotate(-90deg);
      font-weight: bold;

      span {
        position: relative;
        top: 4px;
        font-size: 30px;
      }
    }

    .maridage {
      display: none;
      width: 85%;
      margin-top: auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 14px;
      
      span {
        font-size: 14px;
        color: $alt;
      }

      i {
        font-style: normal; 
      }
    }
  }

  .dark {
    color: $content !important;
  }

  .desc {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 25vh;
    color: $pri;

    h2 {
      margin-bottom: 20px;
    }

    textarea {
      width: 100%;
      min-height: 80vh;
      line-height: 1.4;
      text-align: justify;
      background: transparent;
      resize: none;
    }
  }
}

.white { background: $sec-linear !important; }
.red { background: $ter-linear !important; }
.rose { background: $fou-linear !important; }
.spark { background: $fiv-linear !important; }