<div
  class="info-box scroll"
  ng-class="{white: wineType === 'white', red: wineType === 'red', rose: wineType === 'rose', spark: wineType === 'spark'}"
>
  <div class="shape"></div>
  <nav class="row j-between">
    <span
      ng-class="{dark: wineType === 'white' || wineType === 'spark'}"
      ng-click="goBack()"
      >←</span
    >
  </nav>

  <div class="content col">
    <div class="col a-end title">
      <h2 ng-class="{dark: wineType === 'white' || wineType === 'spark'}">
        {{ wine.name }}
      </h2>
      <div class="price" ng-class="{dark: wineType === 'rose'}">
        {{ wine.price | currency }}
      </div>
    </div>

    <img ng-src="{{ wine.img }}" alt="{{ wine.name }}" />

    <h3
      class="do"
      ng-class="{dark: wineType === 'white' || wineType === 'spark'}"
    >
      D.O. {{ wine.do }}
    </h3>
    <div
      class="more"
      ng-class="{dark: wineType === 'white' || wineType === 'spark'}"
    >
      <span>←</span> {{ uiLang.more }}
    </div>

    <div
      class="maridage"
      ng-class="{dark: wineType === 'white' || wineType === 'spark'}"
    >
      {{ uiLang.marida }}&nbsp;<span
        ng-if="wine.maridaje_main"
        ng-class="{dark: wineType === 'rose'}"
        >{{ wine.maridaje_main }}</span
      >&nbsp;<i ng-if="wine.maridaje_sec">{{ uiLang.and }}</i>&nbsp;<span
        ng-if="wine.maridaje_sec"
        ng-class="{dark: wineType === 'rose'}"
        >{{ wine.maridaje_sec }}</span
      >
    </div>
  </div>

  <div class="desc">
    <h2>{{ uiLang.desc }}</h2>
    <textarea ng-model="wine.desc" disabled></textarea>
  </div>
</div>
