<div class="form-box viewport" ng-swipe-right="openMenu()">
  <div class="row j-between a-center">
    <h1>Formulario {{ getDb }}</h1>
    <button ng-click="goBack()" class="semi outline back-btn">Átras</button>
  </div>

  <!-- gestion form -->
  <form ng-show="getDb === 'gestion'" ng-submit="addForm(form)" class="scroll">
    <div class="row">
      <h3>Descripción</h3>

      <div class="col full-col">
        <label>Referencia</label>
        <input type="text" ng-model="form.reference" placeholder="Referencia" required/>
      </div>

      <div class="col wrap-col">
        <label>Tipo</label>
        <select ng-model="form.type" ng-change="selectType()" required>
          <option value="" disabled>Selecciona un tipo</option>
          <option value="ppto">Presupuesto</option>
          <option value="bill">Factura</option>
        </select>
      </div>

      <div class="col wrap-col">
        <label>Numeración</label>
        <input type="number" ng-model="form.num" placeholder="Numeración" required/>
      </div>

      <div class="col wrap-col">
        <label>Retención</label>
        <select ng-model="form.ret" required>
          <option value="">Selecciona una retención</option>
          <option value="7">7%</option>
          <option value="15">15%</option>
        </select>
      </div>
      
      <div class="col wrap-col">
        <label>Fecha</label>
        <input type="date" ng-model="form.date" placeholder="Fecha" required/>
      </div>

      <h3>Informacion del cliente</h3>

      <div class="col wrap-col">
        <label>Para</label>
        <input list="customers" type="text" ng-model="form.to" placeholder="Para" required/>
      </div>

      <div class="col wrap-col">
        <label>N.I.F./C.I.F.</label>
        <input type="text" ng-model="form.nif" placeholder="N.I.F./C.I.F." required/>
      </div>

      <div class="col wrap-col">
        <label>Direccíon</label>
        <input type="text" ng-model="form.address" placeholder="Direccíon" required/>
      </div>

      <div class="col wrap-col">
        <label>Contacto</label>
        <input type="text" ng-model="form.contact" placeholder="Contacto" required/>
      </div>

      <datalist id="customers">
        <option ng-repeat="customer in customers" value="{{customer.to}}"></option>
      </datalist>

      <h3>A facturar</h3>

      <div class="row box-col">
        <div class="col full-col">
          <label>Detalle</label>
          <input type="text" ng-model="invoice.detail" placeholder="Detalle" />
        </div>

        <div class="col wrap-col">
          <label>Cantidad</label>
          <input type="number" ng-model="invoice.quantity" placeholder="Cantidad" />
        </div>

        <div class="col wrap-col">
          <label>Descuento</label>
          <input type="number" ng-model="invoice.discount" placeholder="Descuento" />
        </div>

        <div class="col wrap-col">
          <label>Precio</label>
          <input type="number" ng-model="invoice.price" placeholder="Precio" />
        </div>

        <div class="row full-col">
          <a class="pri s semi add-btn" ng-click="addInvoice(invoice)">Añadir</a>
          <label class="double-click-text" ng-show="form.to_invoice.length > 0">Doble click sobre la linea para borrarla</label>
        </div>

        <ul ng-show="form.to_invoice.length > 0" class="full-col">
          <li class="row">
            <span class="col-1 nowrap">Cantidad</span>
            <span class="col-2 nowrap">Detalle</span>
            <span class="col-3 nowrap">Descuento</span>
            <span class="col-4 nowrap">Precio</span>
            <span class="col-5 nowrap">Total</span>
          </li>
          <li class="row" ng-repeat="item in form.to_invoice" ng-dblclick="delInvoice($index)">
            <span class="col-1">{{ item.quantity }}</span>
            <span class="col-2 nowrap">{{ item.detail }}</span>
            <span class="col-3">{{ item.discount }}</span>
            <span class="col-4">{{ item.price | currency }}</span>
            <span class="col-5">{{ (item.price * item.quantity) - (((item.price / 100) * item.discount) * item.quantity) | currency }}</span>
          </li>
          <li class="row pre-total">
            <span class="col-4">BASE</span>
            <span class="col-4">RET ({{ form.ret }}%)</span>
            <span class="col-4">IVA (21%)</span>
            <span class="col-4">TOTAL</span>
          </li>
          <li class="row total">
            <span class="col-4">{{sumPrice | currency}}</span>
            <span class="col-4">-{{(sumPrice / 100) * form.ret | currency}}</span>
            <span class="col-4">{{(sumPrice / 100) * 21 | currency}}</span>
            <span class="col-4">{{(sumPrice - ((sumPrice / 100) * form.ret)) + ((sumPrice / 100) * 21) | currency}}</span>
          </li>
        </ul>
      </div>

      <div class="row final-row a-end">
        <button type="submit" class="pri semi form-btn" ng-show="getData">
          Aplicar cambios
        </button>
        <button type="submit" class="pri semi form-btn" ng-hide="getData">
          Crear
        </button>
        <div type="submit" class="delete-btn" ng-show="getData" ng-click="removeData()">
          Borrar
        </div>
      </div>
    </div>
  </form>

  <!-- trabajadores form -->
  <form ng-show="getDb === 'trabajadores'" ng-submit="addForm(form)" class="scroll">
    <div class="row">
      <h3>Cards</h3>

      <div class="col full-col">
        <label>Name and last name</label>
        <input type="text" ng-model="form.name" placeholder="Name and last name" />
      </div>

      <div class="col wrap-col">
        <label>Position</label>
        <input type="text" ng-model="form.position" placeholder="Position" />
      </div>

      <div class="col wrap-col">
        <label>Email</label>
        <input type="email" ng-model="form.email" placeholder="Email" />
      </div>

      <div class="col wrap-col">
        <label>Phone</label>
        <input type="tel" ng-model="form.phone" placeholder="Phone" />
      </div>

      <div class="col wrap-col">
        <label>Address</label>
        <input type="text" ng-model="form.address" placeholder="Address" />
      </div>

      <h3>Credentials</h3>

      <div class="col full-col">
        <label>Image</label>
        <div class="btn-row row a-end">
          <div ng-show="form.img" class="change-btn" ngf-select ng-model="form.img" name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="10MB">
            Change image
          </div>

          <div ng-hide="form.img" class="change-btn" ngf-select ng-model="form.img" name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="10MB">
            Add image
          </div>

          <div class="delete-btn" ng-click="clearImg()" ng-show="form.img">
            Delete image
          </div>
        </div>

        <div class="row j-center img-wrapper">
          <img class="img-prev" ngf-src="form.img" />
        </div>
      </div>

      <div class="row final-row a-end">
        <button type="submit" class="pri semi form-btn" ng-show="getData">
          Apply changes
        </button>
        <button type="submit" class="pri semi form-btn" ng-hide="getData">
          Create
        </button>
        <div type="submit" class="delete-btn" ng-show="getData" ng-click="removeData()">
          Delete
        </div>
      </div>
    </div>
  </form>

  <!-- vinos form -->
  <form ng-show="getDb === 'vinos'" ng-submit="addForm(form)" class="scroll">
    <div class="row">

      <h3>Información obligatoria</h3>

      <div class="col wrap-col">
        <label>Ref. (Automática)</label>
        <input class="disabled" type="text" ng-model="form.ref" placeholder="Referencia" />
      </div>

      <div class="col wrap-col">
        <label>Tipo</label>
        <select ng-model="form.type">
          <option value="" disabled>Selecciona un tipo</option>
          <option value="white">Blanco</option>
          <option value="red">Tinto</option>
          <option value="rose">Rosado</option>
          <option value="spark">Espumoso</option>
        </select>
      </div>

      <div class="col full-col">
        <label>Nombre</label>
        <input type="text" ng-model="form.name" placeholder="Nombre" />
      </div>

      <div class="col wrap-col">
        <label>Precio</label>
        <input type="number" step="0.01" ng-model="form.price" placeholder="Precio" />
      </div>

      <div class="col wrap-col">
        <label>D.O.</label>
        <input type="text" ng-model="form.do" placeholder="D.O." />
      </div>

      <div class="col wrap-col">
        <label>Maridaje principal</label>
        <input type="text" ng-model="form.maridaje_main" placeholder="Maridaje principal" />
      </div>
      <div class="col wrap-col">
        <label>Maridaje secundario</label>
        <input type="text" ng-model="form.maridaje_sec" placeholder="Maridaje secundario" />
      </div>

      <div class="col full-col">
        <label>Imagen</label>
        <div class="btn-row row a-end">
          <div ng-show="form.img" class="change-btn" ngf-select ng-model="form.img" name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="10MB">
            Cambiar imagen
          </div>

          <div ng-hide="form.img" class="change-btn" ngf-select ng-model="form.img" name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="10MB">
            Añadir imagen
          </div>

          <div class="delete-btn" ng-click="clearImg()" ng-show="form.img">
            Eliminar imagen
          </div>
        </div>

        <div class="row j-center img-wrapper">
          <img ng-hide="form.img" class="img-prev" src="./assets/img/wine-bottle.svg" alt="empty">
          <img class="img-prev" ngf-src="form.img" />
        </div>
      </div>

      <h3>Información opcional</h3>

      <div class="col full-col">
        <label>Descripción</label>
        <textarea ng-model="form.desc" placeholder="Descripción"></textarea>
      </div>

      <div class="col full-col">
        <label>URL video</label>
        <input type="text" ng-model="form.video" placeholder="URL video" />
      </div>

      <div class="row final-row a-end">
        <button type="submit" class="pri semi form-btn" ng-show="getData">
          Aplicar cambios
        </button>
        <button type="submit" class="pri semi form-btn" ng-hide="getData">
          Crear
        </button>
        <div type="submit" class="delete-btn" ng-show="getData" ng-click="removeData()">
          Eliminar
        </div>
      </div>
    </div>
  </form>
</div>