@import "../../assets/scss/vars";

.form-box {
  width: calc(100% - 250px);
  margin-left: 250px;
  background: $bg-grad;
  padding: 60px;

  .back-btn {
    border-color: $title;
    color: $title !important;
  }

  form {
    width: 100%;
    height: calc(100% - 40px);
    margin-top: 40px;
    padding-bottom: 60px;

    h3 {
      width: 100%;
      margin: 20px 0 10px 0;
      padding: 10px 20px;
    }

    .wrap-col {
      width: 50%;
      padding: 20px;
    }

    .full-col {
      width: 100%;
      padding: 20px;
    }

    .box-col {
      width: 100%;
      padding: 20px;
      background: $bg-grad;
    }

    label {
      color: $title;
      font-size: 12px;
      font-weight: lighter;
      margin-bottom: 10px;
      margin-left: 20px;
    }

    input,
    textarea,
    select,
    .file-btn {
      width: 100%;
      border: 1px solid #222;
      color: #fff;
    }

    textarea,
    select,
    .file-btn {
      background: transparent;
      padding: 10px 20px;
      resize: none;
    }

    textarea {
      height: 125px;
    }

    option {
      background: $border;
    }

    ul {
      list-style: none;
      color: $title;

      li {
        cursor: pointer;
        background: darken($border, 2%);

        &:first-of-type {
          cursor: default;
        }
        
        &:nth-of-type(even) {
          background: none;
        }

        span {
          border-right: 1px solid $bg;
          padding: 10px 20px;
          
          &:last-of-type {
            border-right: none;
          }
        }

        .col-1 {
          width: 10%;
        }
        .col-2 {
          width: 40%;
        }
        .col-3 {
          width: 10%;
        }
        .col-4 {
          width: 20%;
        }
        .col-5 {
          width: 20%;
        }
      }

      .pre-total {
        margin-top: 40px;
        background: transparent;
        border: 1px solid $bg;
        
        span {
          font-size: 12px;
        }
      }

      .total {
        background: #eee !important;
        color: #222 !important;
      }
    }

    .shake {
      animation: .5s shake;
    }


    a {
      color: $border;
    }

    .btn-row {
      margin-bottom: 20px;
    }

    .change-btn {
      cursor: pointer;
      padding: 10px 20px;
      color: $title;
      border: 2px solid $title;
      font-weight: bold;
      margin-right: 20px;
      border-radius: 3px;
      transition: 0.2s;

      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }

    .delete-btn {
      cursor: pointer;
      color: $title;
      font-weight: bold;
      transition: 0.2s;

      &:hover {
        color: #fff;
      }
    }

    .img-wrapper {
      position: relative;
      width: 100%;
      height: 400px;
      background: #222;
      border: 1px solid #222;
      padding: 20px;
    }

    .img-prev {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: 1;
    }

    .final-row {
      margin-top: 20px;
    }

    .form-btn {
      color: $border;
      font-weight: bold;
      margin: 0 20px;
    }
  }
}
