@import "../../assets/scss/vars";

.form-box {
  width: 100%;
  margin: 0;
  padding: 20px;

  h1 {
    width: 60%;
    font-size: 20px;
  }

  form {
    margin-top: 20px;

    .wrap-col {
      width: calc(50% - 20px);
      padding: 10px 0 !important;
      border-bottom: none;
      margin: 0 10px !important;
    }

    .full-col {
      padding: 10px 0 !important;
    }

    input,
    select,
    textarea {
      border: none !important;
      border-bottom: 1px solid #222 !important;
    }

    .double-click-text {
      font-size: 10px;
    }

    ul {
      margin: 0 !important;
      li {
        span {
          padding: 10px 5px !important;
          font-size: 11px !important;
          text-align: center;
        }

        .col-1,
        .col-3 {
          width: 10%;
        }

        .col-2 {
          width: 30%;
        }

        .col-4,
        .col-5 {
          width: 25%;
        }
      }
      
      .pre-total,
      .total {
        .col-3 {
          width: 25%;
        }
      }
    }
  }
}
