@import "../../assets/scss/vars";

.card-box {
  width: calc(100% - 80px + 18px);
  margin-left: 80px;
  transition: 0.3s;
  background: $bg; 

  .form-pdf {
    height: 100%;
  }

  .scroll {
    width: calc(50% + 18px);
    padding: 40px;

    h1,
    h3 {
      width: 90%;
      margin: 0 auto;
      color: $border;
      padding-left: 20px;
    }

    h1 {
      margin-top: 20px;
    }

    h3 {
      margin-bottom: 60px;
    }

    .form-box {
      width: 90%;
      margin: 0 auto 10vh auto;

      label {
        font-size: 14px;
        font-weight: lighter;
        margin: 0 0 10px 20px;
        color: $disabled;
        background: $border;
        padding: 2px 5px;
        box-shadow: 0 2px 5px 0 rgba(#000, 0.4);
      }

      input,
      textarea,
      select,
      .button {
        width: 100%;
        border-radius: none;
        border-bottom: 1px solid $border;
        margin-bottom: 60px;
        font-size: 24px;
        font-weight: bold;
        color: $divider;
      }

      input[type="file"] {
        font-size: 14px;
        font-weight: normal;
      }

      .next-input {
        margin-bottom: 20px;
      }

      select,
      .button {
        padding: 10px 20px;
        background: transparent;

        option {
          color: #000;
        }
      }

      textarea {
        min-height: 100px;
        background: transparent;
        padding: 20px;
        resize: none;
        font-size: 16px;
        font-weight: lighter;
      }

      textarea::-webkit-scrollbar {
        display: none;
      }

      .couple .col {
        width: calc(50% - 10px);

        &:first-of-type {
          margin-right: 20px;
        }
      }

      .label {
        padding: 15px 30px;
        color: #fff;
        margin-bottom: 60px;
      }

      input[type="checkbox"]:checked + .label {
        background: $link;
      }

      .check-group {
        margin-bottom: 60px;
        padding-top: 10px;

        input[type="radio"] {
          display: none;
        }

        input[id*="b"]:checked + label {
          border: 2px solid $link !important;
        }

        input[id*="p"]:checked + label {
          border: 2px solid $link !important;
        }

        .color {
          width: 30px;
          height: 30px;
          background: $border;
          margin: 0 10px 10px 0;
        }

        .dark {
          background: #111;
        }
        .f2f2f2 {
          background: #f2f2f2;
        }
        .b999 {
          background: #999;
        }
        .beef70 {
          background: #beef70;
        }
        .d3bba7 {
          background: #d3bba7;
        }
        .d7f7ff {
          background: #d7f7ff;
        }
        .ffefdc {
          background: #ffefdc;
        }
        .f9f0ff {
          background: #f9f0ff;
        }
        .c534741 {
          background: #534741;
        }
        .a67c52 {
          background: #a67c52;
        }
        .c9fd6d3 {
          background: #9fd6d3;
        }
        .ffbdff {
          background: #ffbdff;
        }
        .c8200ff {
          background: #8200ff;
        }
        .f9be70 {
          background: #f9be70;
        }
        .c00ffff {
          background: #00ffff;
        }
        .ed1c24 {
          background: #ed1c24;
        }
      }

      button,
      a {
        margin-left: 20px;
      }
    }
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  iframe {
    width: 50%;
    height: 100%;
    margin-left: -18px;
    z-index: 2;
  }
}
