@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Book'), local('CircularStd-Book'),
        url('subset-CircularStd-Book.woff2') format('woff2'),
        url('subset-CircularStd-Book.woff') format('woff'),
        url('subset-CircularStd-Book.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
        url('subset-CircularStd-BookItalic.woff2') format('woff2'),
        url('subset-CircularStd-BookItalic.woff') format('woff'),
        url('subset-CircularStd-BookItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Medium'), local('CircularStd-Medium'),
        url('subset-CircularStd-Medium.woff2') format('woff2'),
        url('subset-CircularStd-Medium.woff') format('woff'),
        url('subset-CircularStd-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Medium Italic'), local('CircularStd-MediumItalic'),
        url('subset-CircularStd-MediumItalic.woff2') format('woff2'),
        url('subset-CircularStd-MediumItalic.woff') format('woff'),
        url('subset-CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Bold'), local('CircularStd-Bold'),
        url('subset-CircularStd-Bold.woff2') format('woff2'),
        url('subset-CircularStd-Bold.woff') format('woff'),
        url('subset-CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Bold Italic'), local('CircularStd-BoldItalic'),
        url('subset-CircularStd-BoldItalic.woff2') format('woff2'),
        url('subset-CircularStd-BoldItalic.woff') format('woff'),
        url('subset-CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Black'), local('CircularStd-Black'),
        url('subset-CircularStd-Black.woff2') format('woff2'),
        url('subset-CircularStd-Black.woff') format('woff'),
        url('subset-CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Black Italic'), local('CircularStd-BlackItalic'),
        url('subset-CircularStd-BlackItalic.woff2') format('woff2'),
        url('subset-CircularStd-BlackItalic.woff') format('woff'),
        url('subset-CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

