@import "../../assets/scss/vars";

.home-box {
  .imago {
    cursor: pointer;
    position: fixed;
    top: 50px;
    left: 50px;
    width: 50px;
    z-index: 1;
  }

  .contact {
    position: fixed;
    top: 50px;
    right: 50px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: Lora;
    color: #fff;
  }

  .info {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    left: 50px;
    color: #fff;
  }

  .hide {
    display: none;
  }

  .social {
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: #fff;

    a {
      margin-top: 10px;
      color: #fff;
    }
  }

  #landing {
    width: 100%;
    height: 100vh;

    .logo {
      cursor: pointer;
      width: 40%;
      max-width: 800px;
      margin-bottom: 50px;
    }

    .scroller {
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 1px;
      height: 60px;
      background: #fff;
      animation: bounce 3s infinite;
    }
  }

  #form {
    width: 100%;
    height: 100vh;
    padding: 50px;

    h1 {
      width: 65%;
      max-width: 1000px;
      color: #fff;
      margin-bottom: 40px;
    }

    .answer {
      width: 65%;
      max-width: 1000px;
      padding-left: 40px;

      button {
        border: 1px solid #fff;
        border-radius: 2px;
        width: 125px;
        color: #fff !important;
        margin-right: 20px;

        &:hover {
          background: #fff !important;
          color: #000 !important;
        }
      }
    }
  }

  .number {
    position: fixed;
    bottom: 50px;
    left: 50px;
    color: #fff;
    font-family: Lora;

    span {
      font-size: 30px;
    }
  }

  #contact {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 50px;

    h2 {
      width: 65%;
      max-width: 1000px;
      color: #fff;
      margin-bottom: 20px;
    }

    form {
      width: 65%;
      max-width: 1000px;
      margin-bottom: 50px;

      input,
      textarea {
        width: 100%;
        font-family: Lora;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;
      }

      textarea {
        background: transparent;
        height: 100px;
        resize: none;
        padding: 10px 20px;
      }

      button {
        border: 1px solid #fff;
        border-radius: 2px;
        color: #fff !important;
        margin-left: 20px;
        padding: 10px 20px !important;
        font-size: 16px;

        &:hover {
          background: #fff !important;
          color: #000 !important;
        }
      }
    }

    .contact-box {
      position: absolute;
      bottom: 50px;
      left: 50px;
      color: #fff;

      a {
        font-family: Lora;
        color: #fff;
        font-size: 16px;
      }
    }
  }
}

#r {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  display: none;
  width: 100%;
  height: 200px;
  margin: auto 0;
  text-align: center;
  color: #fff;
  font-size: 160px;
}

.show {
  display: inherit !important;
}
