<div class="home-box scroll">
  <img
    ng-click="goTop()"
    src="./assets/img/imago.svg"
    alt="CMYK"
    class="imago"
  />
  <a ng-click="goContact()" href="#" class="contact">contactar</a>

  <i class="info fas fa-info-circle" title="PRÓXIMAMENTE"></i>
  <div class="social col a-center j-end">
    <a href="https://www.instagram.com/cmyk.life/" target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="mailto:hola@cmyk.life"><i class="far fa-envelope"></i></a>
  </div>

  <section id="landing" class="col f-center">
    <img
      ng-dblclick="goCoherent()"
      ios-dblclick="goCoherent()"
      src="./assets/img/logo.svg"
      alt="CMYK"
      class="logo"
    />
    <div class="scroller"></div>
  </section>

  <section id="form" class="col f-center">
    <h1 class="sentence">{{ display }}</h1>
    <div class="answer row">
      <button ng-click="goNext()" class="outline">Si</button>
      <button ng-click="goNext()" class="outline">No</button>
    </div>
  </section>

  <div class="number hide">
    <span>{{ actual }}</span
    >/{{ total }}
  </div>

  <section id="contact" class="col f-center">
    <h2>
      Eres de los nuestros,
      <br />
      pongámonos en contacto
    </h2>
    <form ng-submit="sendMail(form)" class="col">
      <input ng-model="form.name" type="text" placeholder="Nombre / empresa" />
      <input
        ng-model="form.contact"
        type="text"
        placeholder="Un medio de contacto"
      />
      <textarea ng-model="form.body" placeholder="Mensaje"></textarea>
      <button type="submit" class="outline">Enviar</button>
    </form>

    <div class="contact-box flex">
      <a href="tel:0034611032940">t. +34 611 03 29 40</a>
      <p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
      <a href="mailto:hola@cmyk.life">e. hola@cmyk.life</a>
    </div>
  </section>
</div>

<div id="r"></div>
