@import "../../assets/scss/vars";

.home-box {
  .imago {
    top: 30px;
    left: 30px;
  }

  .contact {
    top: 30px;
    right: 30px;
  }

  .info {
    bottom: 30px;
    left: 30px;
  }

  .social {
    bottom: 30px;
    right: 30px;
  }

  #landing {
    .logo {
      width: 100%;
      transform: rotate(-90deg);
      margin-bottom: 30px;
    }

    .scroller {
      bottom: 30px;
    }
  }

  #form {
    padding: 50px;

    h1 {
      width: 100%;
      font-size: 30px;
    }

    .answer {
      width: 100%;
      padding-left: 20px;

      button {
        width: 100px;
        margin-right: 20px;
      }
    }
  }

  .number {
    bottom: 30px;
    left: 30px;
  }

  #contact {
    h2 {
      width: 100%;
    }

    form {
      width: 100%;
    }

    .contact-box {
      bottom: 30px;
      left: 30px;

      a {
          font-size: 14px;
      }
    }
  }
}

#r {
  bottom: 30px !important;
  font-size: 120px !important;
}

.show {
  display: inherit !important;
}
