*{-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}body,html{width:100%;height:100%;overflow:hidden}canvas{position:fixed;top:0;left:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-drag:none}