<div class="admin-box viewport" ng-swipe-right="openMenu()">
  <div class="topbar row j-between">
    <div class="title-box flex a-end">
      <h1>{{ getDb }}</h1>

      <span class="num">{{ cards.length }} &nbsp;</span>
      <span>ENTRADA/S</span>
    </div>

    <div class="db-utils flex a-center">
      <input id="search" type="text" ng-model="search" ng-show="activeSearch" ng-blur="noFocus()" />

      <i class="fas fa-search" ng-click="turnSearch()"></i>
      <i class="fas fa-sync-alt" ng-click="stateReload()" title="ACTUALIZAR DATOS"></i>
      <a ng-if="getDb === 'vinos'" class="btn semi outline app-btn" href="./wine_app/index.html">Ver app</a>
      <button class="pri semi" ng-click="goTo('form')">Añadir</button>
    </div>
  </div>

  <div ng-if="mov" class="label-row flex" ng-show="list">
    <!-- labels -->
    <span class="column col1" ng-if="getDb !== 'gestion'"><i class="fas fa-camera"></i></span>
    <span class="column col1" ng-if="getDb === 'gestion'">TIPO</span>
    <span class="column col2" ng-if="getDb !== 'gestion'">NOMBRE</span>
    <span class="column col2" ng-if="getDb === 'gestion'">REFERENCIA</span>
    <span class="column col3" ng-if="getDb === 'gestion'">FECHA</span>
    <span class="column col3" ng-if="getDb === 'trabajadores'">EMAIL</span>
    <span class="column col3" ng-if="getDb === 'vinos'">PRECIO</span>
  </div>

  <!-- gestion list -->
  <div class="db-list scroll" ng-if="getDb === 'gestion'">
    <div class="row">
      <div class="card list row a-center"
        ng-repeat="card in cards | orderBy: '-num' | filter: {type: getType} | filter: search">
        <div class="column col1"><code class="gestion-type {{card.type}}">{{ card.type | uppercase}}</code></div>
        <div class="column col2">{{ card.reference }}</div>
        <div ng-if="mov" class="column col3">
          <div>{{ card.date.seconds * 1000 | date: 'dd/MM/yyyy' }}</div>
        </div>

        <div class="column col4">
          <i ng-click="gestionPDF(card)" class="fas fa-print" title="IMPRIMIR"></i>
          <i ng-click="getId(card.id)" class="fas fa-edit" title="EDITAR"></i>
          <i ng-click="removeData(card)" class="fas fa-trash" title="BORRAR"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- trabajadores list -->
  <div class="db-list scroll" ng-if="getDb === 'trabajadores'">
    <div class="row">
      <div class="card list row a-center" ng-repeat="card in cards | filter: search">
        <div ng-if="mov" class="column col1">
          <img ng-if="!card.img" src="./assets/img/avatar.jpg" alt="Product image" />
          <img ng-if="card.img" ng-src="{{ card.img }}" alt="Product image" />
        </div>
        <div class="column col2">{{ card.name }}</div>
        <div ng-if="mov" class="column col3">
          <a href="mailto:{{ card.email }}">{{ card.email }}</a>
        </div>

        <div class="column col4">
          <i ng-click="trabajadoresPDF(card)" class="fas fa-print" title="IMPRIMIR"></i>
          <i ng-click="getId(card.id)" class="fas fa-edit" title="EDITAR"></i>
          <i ng-click="removeData(card)" class="fas fa-trash" title="BORRAR"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- vinos list -->
  <div class="db-list scroll" ng-if="getDb === 'vinos'">
    <div class="row">
      <div class="card list row a-center" ng-repeat="card in cards | filter: search">
        <div ng-if="mov" class="column col1">
          <img ng-if="!card.img" src="./assets/img/avatar.jpg" alt="Product image" />
          <img ng-if="card.img" ng-src="{{ card.img }}" alt="Product image" />
        </div>
        <div class="column col2">{{ card.name }}</div>
        <div ng-if="mov" class="column col3">{{ card.price | currency }}</div>

        <div class="column col4">
          <i ng-click="getId(card.id)" class="fas fa-edit" title="EDITAR"></i>
          <i ng-click="removeData(card)" class="fas fa-trash" title="BORRAR"></i>
        </div>
      </div>
    </div>
  </div>

  <img class="loading" src="./assets/img/loading.gif" alt="Loading" />

  <!-- <iframe></iframe> -->
</div>