@import "../../assets/scss/vars";

.admin-box {
  width: calc(100% - 250px);
  margin-left: 250px;
  background: $bg-grad;
  padding: 60px;

  iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    background: #000;
    z-index: 999;
  }

  .topbar {
    width: 100%;
    margin-bottom: 60px;

    .title-box {
      h1 {
        color: $title;
        margin: 0;
        padding: 0;
        margin-right: 10px;
        text-transform: capitalize;
      }

      span {
        color: $title;
        font-size: 12px;
        margin-bottom: 14px;
        margin-right: 2px;
      }

      .num {
        color: #fff;
      }
    }

    .db-utils {
      margin-top: 10px;

      input {
        border-bottom: 1px solid #111;
        color: #fff;
        font-size: 16px;
      }

      i {
        cursor: pointer;
        color: $title;
        margin-left: 15px;
      }

      .app-btn {
        border-color: $title;
        color: $title !important;
      }

      button,
      a {
        color: $border !important;
        font-weight: bold;
        margin-left: 20px;
      }
    }
  }

  .label-row {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 5px;

    span {
      color: $title;
      font-size: 12px;
      font-weight: lighter;
    }

    i {
      transform: scale(1.3);
      margin-left: 8px;
    }
  }

  .column {
    padding: 0 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .col1 {
    width: 10%;
  }

  .col2 {
    width: 40%;
  }

  .col3 {
    width: 25%;
  }

  .col4 {
    width: 25%;
  }

  .db-list {
    width: 100%;
    height: calc(100% - 65px);
    padding: 0 5px 60px 0;

    .card {
      height: 60px;
      padding: 10px 0;
      background: #2f2f2f;
      border-radius: 2px;
      box-shadow: 0 2px 5px -2px rgba(#000, 0.7);
      margin-bottom: 10px;

      .column {
        font-size: 16px;
        font-weight: lighter;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .col1 {
        display: flex;
        height: 100%;

        .gestion-type {
          font-weight: bold;
          background: #333;
          padding: 0 5px;
          font-size: 12px;
          line-height: 40px;
        }

        .ppto {
          background: #34ace0;
          color: #fff;
        }
        
        .bill {
          background: #33d9b2;
          color: #fff;
        }
      }

      .col4 {
        margin-left: auto;
        text-align: right;

        i {
          cursor: pointer;
          margin-left: 15px;
          color: $title;
          transition: 0.2s;

          &:hover {
            color: #fff;
          }
        }
      }

      img {
        width: 40px;
        min-width: 40px;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 5px 0 rgba(#000, 0.4);
      }
    }
  }

  .loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30vw;
    display: none;
    margin: auto;
  }

  .loading-active {
    display: inherit;
  }
}
