@import "../../assets/scss/vars";

.admin-box {
  width: 100%;
  margin-left: 0;
  padding: 20px;

  .topbar {
    position: relative;
    margin-bottom: 0;
    
    .db-utils {
      width: 100%;
      padding: 10px 0 20px 0;
      border-bottom: 1px solid #222;

      i {
        font-size: 22px;

        &:first-of-type {
          margin-left: auto;
        }
      }

      input {
        border: none;
        padding: 0 !important;
      }
    }

    .title-box {
      width: 100%;
      padding: 15px 0;
      border-bottom: 1px solid #222;
      h1 {
        font-size: 20px;
      }
      span {
        margin-bottom: 5px;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .col1 {
    width: 20%;
  }

  .col2 {
    width: 35%;
    padding-right: 0;
  }

  .col4 {
    width: 45%;
    padding-left: 0;

    i {
      font-size: 20px;
    }
  }

  .db-list {
    padding: 20px 0 30px 0;
  }
}
