<div class="card-box viewport">
  <div class="row form-pdf">
    <div class="scroll">
      <h1>Animal Holistic Journey</h1>
      <h3>TARJETAS NOMINALES</h3>

      <form class="col form-box">
        <label>Logo</label>
        <select ng-model="data.logo">
          <option value="black">Negro</option>
          <option value="white">Blanco</option>
        </select>

        <label>Color elementos</label>
        <select ng-model="data.elsColor">
          <option value="green">Verde</option>
          <option value="black">Negro</option>
          <option value="white">Blanco</option>
          <option value="brown">Marrón</option>
          <option value="ground">Terracota</option>
          <option value="orange">Naranja</option>
          <option value="pink">Rosa</option>
          <option value="purple">Lila</option>
          <option value="sand">Arena</option>
          <option value="sky">Cielo</option>
        </select>

        <div class="col">
          <label>Color de fondo</label>
          <div class="check-group row">
            <input
              type="radio"
              name="bg"
              id="b1"
              ng-model="data.bgColor"
              value="#111"
            />
            <label for="b1" class="color dark"></label>
            <input
              type="radio"
              name="bg"
              id="b2"
              ng-model="data.bgColor"
              value="#f2f2f2"
            />
            <label for="b2" class="color f2f2f2"></label>
            <input
              type="radio"
              name="bg"
              id="b3"
              ng-model="data.bgColor"
              value="#999"
            />
            <label for="b3" class="color c999"></label>
            <input
              type="radio"
              name="bg"
              id="b4"
              ng-model="data.bgColor"
              value="#b4dc64"
            />
            <label for="b4" class="color b4dc64"></label>
            <input
              type="radio"
              name="bg"
              id="b5"
              ng-model="data.bgColor"
              value="#d3bba7"
            />
            <label for="b5" class="color d3bba7"></label>
            <input
              type="radio"
              name="bg"
              id="b6"
              ng-model="data.bgColor"
              value="#d7f7ff"
            />
            <label for="b6" class="color d7f7ff"></label>
            <input
              type="radio"
              name="bg"
              id="b7"
              ng-model="data.bgColor"
              value="#ffefdc"
            />
            <label for="b7" class="color ffefdc"></label>
            <input
              type="radio"
              name="bg"
              id="b8"
              ng-model="data.bgColor"
              value="#f9f0ff"
            />
            <label for="b8" class="color f9f0ff"></label>
            <input
              type="radio"
              name="bg"
              id="b9"
              ng-model="data.bgColor"
              value="#534741"
            />
            <label for="b9" class="color c534741"></label>
            <input
              type="radio"
              name="bg"
              id="b10"
              ng-model="data.bgColor"
              value="#a67c52"
            />
            <label for="b10" class="color a67c52"></label>
          </div>
        </div>

        <label>Color texto</label>
        <select ng-model="data.textColor">
          <option value="#000">Negro</option>
          <option value="#fff">Blanco</option>
        </select>

        <label>Tipografía</label>
        <select ng-model="data.font">
          <option value="Circular">Circular</option>
          <option value="Times">Times</option>
          <option value="Neue">Neue</option>
          <option value="Dancing">Dancing</option>
        </select>

        <label>Título</label>
        <input ng-model="data.title" placeholder="Título" />

        <label>Lista</label>
        <textarea
          ng-keyup="autoGrow($event)"
          ng-model="data.list"
          placeholder="Lista"
        ></textarea>
        <label>Descripción</label>
        <textarea
          ng-keyup="autoGrow($event)"
          ng-model="data.desc"
          placeholder="Descripción"
        ></textarea>

        <label>Teléfono</label>
        <input ng-model="data.phone" placeholder="Teléfono" />
        <label>Facebook</label>
        <input ng-model="data.fb" placeholder="Facebook" />

        <div class="row">
          <a ng-show="isMobile" href="#" id="link" class="ter s"
            >Ver / Guardar</a
          >
        </div>
      </form>
    </div>
    <iframe ng-hide="isMobile"> </iframe>
  </div>
</div>
