@import "../../assets/scss/vars";

.card-box {
  width: 100%;
  height: calc(100% - 130px);
  margin-top: 70px;
  margin-left: 0;

  .form-pdf {
    width: 100%;
    flex-direction: column !important;
  }

  .scroll {
    width: 100%;
    height: 100%;
    padding: 0;

    .form-box {
      margin: 40px auto;
      
      .couple .col {
        width: 100%;
      }
      
      textarea {
        min-height: 150px;
      }
    }


  }
}