@import "../../assets/scss/vars";

nav {
  left: -100%;
  width: 100%;
  transition: .5s;

  li {
    font-size: 22px !important;

    &:before {
      top: 26px !important;
    }
  }

  .powered img {
    width: 40%;
  }

  &:after {
    content: "Menú: Desliza a derecha";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
    background: $border;
    transition: .2s;
    text-align: center;
    color: $title;
    border-top: 1px solid #222;
    animation: tip 10s;
    animation-fill-mode: forwards;
  }
}

.open {
  left: 0;

  &:after {
    bottom: -100%;
  }
}

@keyframes tip {
  from { bottom: 0 }
  50% { bottom: 0 }
  to { bottom: -100% }
}
