@import "../../assets/scss/vars";

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 30px;
  background: $border;
  box-shadow: 2px 0 5px 0 rgba(#000, 0.4);
  z-index: 99;

  .user-box {
    margin-bottom: 40px;

    .user-logo {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 1px 10px 0 rgba(#000, 0.6);
      margin-right: 20px;

      img {
        height: 100%;
      }
    }

    span {
      font-size: 16px;
      color: $title;
      margin-bottom: 5px;
    }

    .user-opt {
      cursor: pointer;
      color: $title;
      font-size: 14px;
      margin-left: 5px;
    }

    .out {
      cursor: pointer;
      font-size: 12px;
      color: $pri;
    }
  }

  .db-box {
    width: calc(100% + 60px);
    height: 70%;
    margin-left: -30px;
    margin-bottom: 30px;
    background: #333;
    padding: 30px;
    padding-right: 0;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;

    span {
      font-size: 11px;
      color: $title;
      font-weight: lighter;
    }
    
    ul {
      margin-top: 10px;
      list-style: none;
    }

    li {
      cursor: pointer;
      position: relative;
      color: $title;
      font-size: 16px;
      padding: 15px 20px;
      transition: 0.2s;

      &:before {
        content: "";
        position: absolute;
        top: 19px;
        left: 3px;
        width: 7px;
        height: 7px;
        background: $title;
        border-radius: 50%;
      }

      &:hover {
        color: #fff;
      }
    }

    .disabled {
      cursor: not-allowed;
      color: $bg;
      
      &:hover {
        color: $bg;
      }
    }

    .sub {
      position: relative;
      padding-right: 0;

      &:before {
        display: none;
      }

      &:hover {
        color: $title;
      }

      li {
        font-size: 14px;
      }
    }

    .active {
      border-right: 2px solid $pri;
      color: #fff;
    }
  }

  button {
    color: $border !important;
    font-weight: bold;
  }

  .powered {
    width: 100%;
    margin-top: auto;
    text-align: center;

    img {
      width: 80%;
    }
  }
}
