<nav class="col a-start" ng-swipe-left="closeMenu()">
  <div class="user-box row a-center">
    <div class="user-logo"><img src="./assets/img/mobile.png" alt="User logo" /></div>
    <div class="col">
      <div class="row"><span>CMYK</span><i class="fas fa-cog user-opt" title="AJUSTES"></i></div>
      <span ng-click="out()" class="out">Sign out</span>
    </div>
  </div>

  <div class="db-box scroll">
    <span>BASES DE DATOS</span>
    <ul>
      <li ui-sref="admin({ db: 'gestion', type: 'bill' })" ng-class="{active: getType === 'bill'}">Facturas</li>
      <li ui-sref="admin({ db: 'gestion', type: 'ppto' })" ng-class="{active: getType === 'ppto'}">Presupuestos</li>
      <li ui-sref="admin({ db: 'trabajadores', type: null })" ng-class="{active: getDb === 'trabajadores'}">Trabajadores</li>
      <li ui-sref="admin({ db: 'vinos', type: null })" ng-class="{active: getDb === 'vinos'}">Vinos</li>
    </ul>
  </div>

  <div class="powered"><img src="./assets/img/powered-logo.svg" alt="Powered by PLAYOUT" /></div>
</nav>
