<div class="home-box">
    <form ng-submit="selected()" class="input-wrapper row j-center a-end">
        <input type="text" ng-model="keyword" ng-keydown="shortKey($event)">
    </form>

    <div class="div"></div>

    <div class="list row j-center">
        <ul class="col">
            <li>Web</li>
            <li id="google" ng-click="google()">Google<span>1</span></li>
            <li id="allSearch" ng-click="allSearch()" style="display: none">Todos</li>
        </ul>
        <ul class="col">
            <li>Imágenes</li>
            <li id="gImages" ng-click="gImages()">G Images<span>3</span></li>
            <li id="unsplash" ng-click="unsplash()">Unsplash<span>4</span></li>
            <li id="pexels" ng-click="pexels()">Pexels<span>5</span></li>
            <li id="allImages" ng-click="allImages()">Todos</li>
        </ul>
        <ul class="col">
            <li>Vectores</li>
            <li id="freepik" ng-click="freepik()">Freepik<span>6</span></li>
            <li id="flaticon" ng-click="flaticon()">Flaticon<span>7</span></li>
            <li id="allVectors" ng-click="allVectors()">Todos</li>
        </ul>
        <ul class="col">
            <li>PNG</li>
            <li id="kisspng" ng-click="kisspng()">Kisspng<span>q</span></li>
            <li id="pngtree" ng-click="pngtree()">Pngtree<span>s</span></li>
            <li id="allPng" ng-click="allPng()">Todos</li>
        </ul>
        <ul class="col">
            <li>Tipografías</li>
            <li id="gFonts" ng-click="gFonts()">G Fonts<span>8</span></li>
            <li id="dafont" ng-click="dafont()">Dafont<span>9</span></li>
            <li id="fontspace" ng-click="fontspace()">Fontspace<span>0</span></li>
            <li id="allTypes" ng-click="allTypes()">Todos</li>
        </ul>
        <ul class="col">
            <li>Vídeos</li>
            <li id="youtube" ng-click="youtube()">Youtube<span>a</span></li>
            <li id="videezy" ng-click="videezy()">Videezy<span>h</span></li>
            <li id="pVideos" ng-click="pVideos()">Pexels video<span>k</span></li>
            <li id="allVideos" ng-click="allVideos()">Todos</li>
        </ul>
        <ul class="col">
            <li>Inspiracion</li>
            <li id="pinterest" ng-click="pinterest()">Pinterest<span>l</span></li>
            <li id="dribbble" ng-click="dribbble()">Dribbble<span>e</span></li>
            <li id="behance" ng-click="behance()">Behance<span>f</span></li>
            <li id="allInspiration" ng-click="allInspiration()">Todos</li>
        </ul>
    </div>

    <p class="shortcuts">Control por voz: Buscar en... (ej.: google camión) &nbsp;||&nbsp; Atajo de teclado: Ctrl + Shift + Atajo</p>
</div>