@import "../../assets/scss/vars";

.home-box {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  transition: .5s;

  .input-wrapper {
    height: 50%;

    input {
      width: 90%;
      max-width: 1200px;
      color: #fff;
      font-family: Lora;
      font-style: italic;
      font-size: 80px;
      border-bottom: 1px solid $disabled;
      padding: 20px 50px !important;
    }
  }

  .list {
    width: 100%;
    height: 50%;

    ul {
      width: calc((90% - (100px / 7)) / 7);
      max-width: calc(1100px / 7);
      padding-top: 10vh;

      li {
        cursor: pointer;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 20px;
        transition: 0.2s;

        &:hover {
          font-size: 22px;
          color: $link;
        }

        &:first-of-type {
          cursor: default;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: lighter;
          color: $disabled;
        }

        &:last-of-type {
          font-size: 12px;
          background: $link;
          padding: 5px 20px;
          border-radius: 7px;

          &:hover {
            color: #fff;
            transform: scale(1.05);
          }
        }

        span {
          font-family: Lora;
          font-style: italic;
          font-size: 10px;
          margin-left: 5px;
        }
      }

      .selected {
        color: $link;
        font-size: 22px;
      }
    }
  }

  .shortcuts {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: Lora;
    font-style: italic;
    color: $disabled;
  }
}

.light {
  background: #fff;
  color: #2d3436;

  .input-wrapper {
    input {
      color: #2d3436;
    }
  }
  
  li[id*="all"] {
    color: #fff;
  }
}
