<div class="login-box scroll">
  <div class="row j-center">
    <div class="title col a-end">
      <h1>Administrator</h1>
      <div class="flex j-end a-end">
        <h1>for</h1>
        <img src="./assets/img/logo.svg" alt="PLAYOUT" />
      </div>
    </div>

    <form ng-submit="in(email, pass)" class="col">
      <label>EMAIL</label>
      <input type="email" ng-model="email" placeholder="Email" />
      <label>PASSWORD</label>
      <div class="flex pass-wrapper">
        <input
          type="password"
          id="pass"
          ng-model="pass"
          placeholder="Password"
        />
        <span class="switch-pass" ng-show="hidePass" ng-click="switchPass()"
          ><i class="fas fa-eye"></i
        ></span>
        <span class="switch-pass" ng-hide="hidePass" ng-click="switchPass()"
          ><i class="fas fa-eye-slash"></i
        ></span>
      </div>
      <button type="submit" class="pri semi">Login</button>
    </form>
  </div>

  <footer class="row j-between a-center">
    <img src="./assets/img/powered-logo.svg" alt="Powered by PLAYOUT" />

    <div class="contact flex a-center">
      <a href="mailto:info@playout.online">info@playout.online</a>
      <p class="text-div">|</p>
      <p>Follow us</p>
      <a href="facebook.com" target="_blank" class="social-btn"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="instagram.com" target="_blank" class="social-btn"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </footer>
</div>
