@import "../../assets/scss/vars";

.login-box {
  width: 100%;
  padding: 60px;
  background: $bg-grad;
  padding-top: 30vh;
  
  .title {
    color: $title;
    margin-right: 60px;
    padding-top: 5px;

    img {
      height: 55px;
      margin-left: 15px;
      margin-bottom: 5px;
    }
  }

  form {
    label {
      color: $title;
      font-size: 12px;
      font-weight: lighter;
      margin-bottom: 10px;
      margin-left: 20px;
    }
    
    input {
      width: 40vw;
      max-width: 350px;
      border: 1px solid #222;
      border-radius: 2px;
      margin-bottom: 20px;
      color: #fff
    }

    .switch-pass {
      position: relative;
      left: -45px;
      padding: 13px;
      font-size: 14px;
      color: $title;
    }

    button {
      color: $border !important;
      font-weight: bold;
    }
  } 

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 30px 40px;
    
    img {
      height: 60px;
    }
    
    a,
    p {
      color: #fff;
      font-size: 16px;
      font-weight: lighter;
    }

    .text-div {
      margin: 0 10px;
    }

    .social-btn {
      padding: 0 !important;
      margin-left: 10px;
    }

    i {
      width: 30px;
      height: 30px;
      background: #fff;
      color: $bg;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      margin: 0;
    }
  }
}
