@import "../../assets/scss/vars";

.login-box {
  padding: 30px;
  padding-top: 60px;

  .title {
    width: 100%;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 40px;

    img {
      margin-bottom: 0;
    }
  }

  form {
    width: 100%;

    input {
      width: 100%;
      min-width: 100%;
      border: 0;
      border-bottom: 1px solid #222;
      padding: 20px !important;
      margin-bottom: 40px;
    }

    button {
      width: 90%;
      margin: 0 auto;
    }

    .pass-wrapper {
      width: 100%;
    }
  }

  footer {
    justify-content: center;
    img {
      display: none;
    }
    a,
    p {
      font-size: 12px;
    }
  }
}