<div class="row j-center a-end logo">
    <h1>query.</h1>&nbsp;<span>design</span>
</div>

<div class="switch" ng-click="switch()" title="Modo {{mode()}}">
    <label class="switch-label" for="switch">
        <span class="switch-inner"></span>
        <span class="switch-dot"></span>
    </label>
</div>