@import "../../assets/scss/vars";

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  z-index: 99;

  .logo {
    h1 {
      cursor: zoom-in;
      font-size: 40px;
      font-weight: bold;
      line-height: 60px;
      background: linear-gradient(
        to right,
        #fff 20%,
        #ff0 40%,
        #ff0 60%,
        #fff 80%
      );
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 1s linear infinite;

      @keyframes shine {
        to {
          background-position: 200% center;
        }
      }
    }

    span {
      font-family: Lora;
      font-style: italic;
      font-size: 25px;
      font-weight: lighter;
      line-height: 55px;
      color: #fff;
    }
  }

  .switch {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 45px;
    height: 25px;
    display: flex;
    border-radius: 13px;
    overflow: hidden;

    .switch-label {
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: flex;

      .switch-inner {
        position: relative;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 13px;
        border: 1px solid $disabled;
        transition: 0.2s;
      }

      .switch-dot {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        left: 0;
        background: #2d3436;
        border-radius: 13px;
        border: 1px solid #000;
        box-shadow: 0 0 5px 0 rgba(#000, 0.2);
        transition: 0.2s;
      }
    }

    .active {
      .switch-inner {
        background: #2d3436;
      }

      .switch-dot {
        left: 20px;
        background: #fff;
      }
    }
  }
}

.nav-light {
  .logo {
    h1 {
      background: linear-gradient(
        to right,
        #2d3436 20%,
        #ff0 40%,
        #ff0 60%,
        #2d3436 80%
      );
      background-size: 200% auto;
      color: #2d3436;
      background-clip: text;
    }

    span {
      color: #2d3436;
    }
  }
}
