// reset
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;

  // renders
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //disable blue box on mobile
  @media (max-width: 768px) {
    cursor: default !important;
  }
}

html,
body,
main {
  width: 100%;
  height: 100%;
  position: relative !important;
  overflow: hidden !important;
}

body {
  background: #000 url("../img/bg.png") no-repeat center;
  background-size: cover;
  font-family: "Circular Std";
}

//enter view
main.ng-enter {
  animation: fadeIn 0.3s ease-out;
}

//leave view
main.ng-leave {
  animation: fadeOut both 0.3s ease-in;
}

//hyperlinks
a {
  color: $link;
  text-decoration: none;
}

//list style
ul {
  list-style: none;
}

//responsive base font
*:not(i) {
  @include type(16, 18);
}

h1 {
  @include type(45, 55);
}

h2 {
  @include type(25, 35);
}

h3 {
  @include type(15, 25);
}