<div class="type-box viewport">
  <div class="content col f-center">
    
    <div class="row type a-center" ng-click="goList('white')">
      <div class="label"></div>
      <div class="col">
        <h2>{{ uiLang.white }}</h2>
        <p>{{ whites }} {{ uiLang.unit }}</p>
      </div>
    </div>
    
    <div class="row type a-center" ng-click="goList('red')">
      <div class="label"></div>
      <div class="col">
        <h2>{{ uiLang.red }}</h2>
        <p>{{ reds }} {{ uiLang.unit }}</p>
      </div>
    </div>
    
    <div class="row type a-center" ng-click="goList('rose')">
      <div class="label"></div>
      <div class="col">
        <h2>{{ uiLang.rose }}</h2>
        <p>{{ roses }} {{ uiLang.unit }}</p>
      </div>
    </div>
    
    <div class="row type a-center" ng-click="goList('spark')">
      <div class="label"></div>
      <div class="col">
        <h2>{{ uiLang.spark }}</h2>
        <p>{{ sparks }} {{ uiLang.unit }}</p>
      </div>
    </div>

    <a ui-sref="lang">{{ uiLang.btn }}</a>
  </div>
</div>
