@import "../../assets/scss/vars";

.type-box {
  padding: 40px;
  padding-top: 60px;

  .content {
    width: 100%;
    height: 100%;
  }

  .type {
    height: 20%;
    max-height: 100px;
    background: $content;
    margin-bottom: 40px;
    box-shadow: 0 10px 50px 0 rgba(#000, 0.2);

    &:nth-of-type(even) {
      flex-direction: row-reverse;
      
      .label {
        margin-left: 25px;
        margin-right: 20px;
      }

      .col {
        align-items: flex-end;
      }
    }

    .label {
      min-width: 15%;
      min-height: 110%;
      transform: skew(-15deg);
      margin-left: 20px;
      margin-right: 25px;
    }

    &:nth-of-type(1) .label {
      background: $sec-linear;
    }
    &:nth-of-type(2) .label {
      background: $ter-linear;
    }
    &:nth-of-type(3) .label {
      background: $fou-linear;
    }
    &:nth-of-type(4) .label {
      background: $fiv-linear;
    }

    p {
      font-weight: lighter;
    }
  }

  a {
    margin-top: 20px;
    color: $alt;
  }
}
